$theme-colors: (
  "primary": #0c0f15,
  "secondary": #edc57a,
  "text1": #8d8f92,
  "text2": #fff,
);

@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "MyriadPro";
  src: url("../public/assets/fonts/Myriad\ Pro\ Regular.ttf");
}
@font-face {
  font-family: "HSIshraq";
  src: url("../public/assets/fonts/HS\ Ishraq\ Regular.otf");
}

body {
  margin: 0;
  background: #151921;
  *:lang(en) {
    font-family: "MyriadPro" !important;
  }
  *:lang(ar) {
    font-family: "HSIshraq" !important;
  }

  customtext {
    text-transform: uppercase;
  }

  .main {
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-x: right;
    position: relative;
  }
  // .main-bg {
  //   &:lang(en) {
  //     background-image: url("../public/assets/images/bg-en-cropped.png");
  //   }
  //   &:lang(ar) {
  //     background-image: url("../public/assets/images/bg-ar-cropped.png");
  //   }
  // }
  .left-animation {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: -1;
  }
  .right-animation {
    position: absolute;
    right: 0;
    bottom: 24%;
    z-index: -1;
  }

  *[en] {
    font-family: "MyriadPro" !important;
    direction: ltr;
  }
  *[ar] {
    font-family: "HSIshraq" !important;
    direction: rtl;
  }
  main {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
  }

  .bg-ellipse {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    filter: blur(70px);
    z-index: -1;
    background-image: url(../public/assets/images/bg-top-right.svg);
    &.top {
      top: -110px;
      left: -100px;
    }
    &.bottom {
      bottom: -200px;
      right: -170px;
    }
  }
}
.content {
  min-height: 85vh;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
}

.nav-bar {
  padding: 28px 0px;
  background: linear-gradient(180deg, rgb(187, 140, 95, 0.1), rgba(0, 0, 0, 0));
  .navbar-collapse {
    a {
      color: #fff !important;
    }
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dea36d;
  border-radius: 8px;
  padding: 70px 0;
  box-shadow: 0px 4px 16px 0px rgba(237, 197, 122, 0.1);
}

.ml-auto {
  margin-left: auto !important;
}

.custom-input {
  input {
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0f15;
    outline: none;
    border: 1px solid #dea36d;
    border-radius: 7px;
    padding: 12px;
    color: #8d8f92;
    font-weight: bold;
  }
}

.form-check {
  .form-check-label {
    color: #fff;
  }
  .form-check-input:checked {
    background-color: rgb(255, 255, 255, 10%);
    border-color: #edc57a;
  }
  .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(237, 196, 120, 0.123);
  }
}
.t-0 {
  font-size: 50px;
}

.t-1 {
  font-size: 42px;
}

.t-2 {
  font-size: 34px;
}

.t-3 {
  font-size: 29px;
}

.t-4 {
  font-size: 25px;
}

.t-5 {
  font-size: 18px;
}

.navbar-toggler {
  border: none;
}

.divider {
  border-radius: 100%;
  min-width: 1px !important;
  width: 2px !important;
  min-height: 100%;

  @media (max-width: 991px) {
    margin-top: 5px !important;
    margin-bottom: 5px;
    transform: rotate(90);
    min-width: 100% !important;
    width: 100%;
    min-height: 1px !important;
    height: 2px !important;
    background: -moz-linear-gradient(90deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
    background: -webkit-linear-gradient(90deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
    background: linear-gradient(90deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
  }

  padding: 0 !important;
  background: rgb(225, 172, 123);
  background: -moz-linear-gradient(0deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
  background: -webkit-linear-gradient(0deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
  background: linear-gradient(0deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1ac7b",endColorstr="#e1ac7b",GradientType=1);
}

.divider-horizental {
  border-radius: 100%;
  transform: rotate(90);
  min-height: 1px !important;
  height: 2px !important;
  background: -moz-linear-gradient(90deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
  background: -webkit-linear-gradient(90deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
  background: linear-gradient(90deg, rgba(225, 172, 123, 0.2) 0%, rgba(237, 197, 122, 1) 50%, rgba(225, 172, 123, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1ac7b",endColorstr="#e1ac7b",GradientType=1);
  &.gold-shadow {
    box-shadow: 0px 6px 20px 0px white;
  }
}

.modal-content {
  background-color: #29282f;
  color: #fff;
}
